@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Muller";
  font-display: swap;
  src: local("Muller"), url("~@/assets/fonts/MullerRegular.woff2") format("woff2"), url("~@/assets/fonts/MullerRegular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Muller";
  font-display: swap;
  src: local("Muller"), url("~@/assets/fonts/MullerMedium.woff2") format("woff2"), url("~@/assets/fonts/MullerMedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Muller";
  font-display: swap;
  src: local("Muller"), url("~@/assets/fonts/MullerBold.woff2") format("woff2"), url("~@/assets/fonts/MullerBold.woff") format("woff");
}